# Node modules
**/node_modules/

# Environment files
**/.env
#secrets*
**/.*

# Lock files
**/package-lock.json

# Build output
**/dist/
**/build/

# Dev files
bootstrap/.gnarengine
bootstrap/data/*
docker-compose*.yml

# Temp files
**.temp
